* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #eef2f7;
}

.card {
    max-width: 800px;
    margin: auto;
    border-radius: 15px;
}

table {
    margin-top: 30px;
}

th {
    width: 220px;
    background: #f8f9fa;
}

.btn {
    margin-top: 25px;
}